* {
    margin: 0px;
    padding: 0px;
    /* text-align: center; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cen {
    text-align: center;
}

img {
    width: 100%;
}

#cont {
    width: 100%;
}

#nav1 {
    display: flex;
    justify-content: space-around;
    background-color: rgba(172, 231, 255, 0.281);
    padding: 4px 0px 5px 0px;
    /* margin-bottom: 35px; */
}

#nav1 img {
    width: 80%;
    display: flex;
    margin: auto;
    transition: 0.3s;
}

.logo {
    position: absolute;
    width: 8%;
}

#nav1 img:hover {
    transform: scale(1.2);
}

#nav1>div:nth-child(1) {
    width: 8%;
}

#nav1>div:nth-child(2) {
    width: 60%;
    background-color: white;
    padding: 20px 0px;
}

#icon {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#icon img {
    width: 40%;
}

#nav2 {
    margin-top: 35px;
}

#nav2>div:nth-child(1) {
    display: flex;
    width: 18%;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 30px;
}

#nav2>div:nth-child(2) {
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: space-around;
    margin-bottom: 20px;
}

#acc {
    position: absolute;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    padding: 0px 6px;
    margin-left: 167vh;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sign {
    padding: 12px 40px;
    margin: 10px;
    border-radius: 50px;
    border: 1px solid black;
    color: white;
    font-size: larger;
    font-weight: bold;
    /* background-color: #0a5491; */
    background-color: rgb(3, 88, 3);
    transition: 0.2s;
}

.option {
    transition: 0.1s;
    border-bottom: 2px solid white;
    padding: 0px 3px;
}

.option:hover {
    border-bottom: 2px solid;
}

#trend {
    text-align: center;
    background-color: aliceblue;
}

#trend>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#trend img {
    width: 2.6%;
}

#slider img {
    width: 100%;
}

#abvsli {
    position: absolute;
    margin-top: 15%;
    margin-left: 22%;
}

#abvsli>button,
.detail,
.learn,
#addphoto,
.gallery {
    padding: 12px 40px;
    margin: 30px;
    border-radius: 50px;
    border: 1px solid black;
    color: white;
    font-size: larger;
    font-weight: bold;
    /* background-color: #0a5491; */
    background-color: rgb(3, 88, 3);
    transition: 0.2s;
}

#abvsli>button:hover,
.detail:hover,
.learn:hover,
.shop:hover,
#addphoto:hover,
.gallery:hover,
.sign:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.detail {
    position: absolute;
    margin-left: 70%;
    margin-top: 50%;
}

#bottom {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3%;
    text-align: center;
}

#bottom>div {
    border-radius: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.623);
    transition: 0.3s;
}

#bottom>div:hover {
    transform: scale(1.1);
}

#bottom>div:hover .shop {
    display: block;
}

#bottom p {
    font-size: small;
}

.rs {
    color: rgb(199, 0, 0);
    font-size: medium;
    margin-bottom: 20px;
}

#reward {
    position: absolute;
    margin-top: 15%;
    margin-left: 23%;
    text-align: center;
}

.shop {
    display: none;
    position: absolute;
    padding: 2px 30px;
    border-radius: 50px;
    border: 1px solid black;
    margin-top: 38vh;
    margin-left: 6.5vh;
    transition: 0.1s;
}

#footer {
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
}

#footer p {
    text-align: left;
}

#footer>div:nth-child(1) {
    width: 30%;
}

.fhead {
    font-size: small;
    font-weight: bold;
    border-bottom: 2px solid white;
}

.fhead:hover {
    text-decoration: underline;
}

.fpara {
    font-size: smaller;
}

/* account section */

#form {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: auto;
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#form>label {
    font-size: 18px;
    text-align: left;
}

#form>div {
    display: flex;
    justify-content: space-between;
}

#form>input,
#form option,
#form select {
    height: 25px;
    margin-top: 3px;
    margin-bottom: 10px;
}

#form>input,
#form select {
    height: 30px;
    width: 100%;
    margin: auto;
    border: 1px solid rgba(96, 201, 243, 0.863);
    background-color: rgba(172, 231, 255, 0.281);
    border-radius: 8px;
    margin-bottom: 15px;
    margin-top: 5px;
    text-align: left;
}

#form>button {
    padding: 6px 20px;
    border-radius: 5px;
    border: 1px solid rgba(96, 201, 243, 0.863);
    background-color: rgba(86, 195, 238, 0.568);
}

#form>button:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#filter {
    margin-top: 20px;
    line-height: 35px;
}

#guest-rating {
    width: 100%;
    margin-top: 20px;
    line-height: 35px;
}

#main {
    width: 90%;
    margin: auto;
    display: flex;
    /* justify-content: space-between; */
}

#main>div:nth-child(1) {
    width: 20%;
}

#main>div:nth-child(2) {
    width: 80%;
    /* border: 1px solid; */
}