*{
  text-align: center;
}
.size{
    width: 80%;
    margin: auto;
    margin-top: 1.2%;
}
#nav1{
   display: flex;
   border: 2px solid red;
}
#nav>div{
    justify-content: center;
}
#nav img{
    width: 40px;
}
#logo{
    border: 2px solid blue;
}
#logo>img{
    width: 80%;
}
#searchbar{
    border: 2px solid blueviolet;
    text-align: right;
    margin: 30px;
}
#searchbar>input{
    width: 40%;
    height: 50px;
}
#nav1part2{
    width: 60%;
    border: 2px solid black;
}
#menu{
    margin-top: 6%;
    margin-bottom: 2%;
}
#menu span{
    margin: 4%;
}
#nav2{
    display: flex;
    border: 2px solid purple;
    margin: 10px;
}
#nav>div~div{
    border: 2px solid black;
    justify-content: space-around;
}
#locatn{
    border: 2px solid violet;
    width: 40%;
}
#secndiv,#thrdiv,#fordiv,#chapal{
    margin-top: 1.2%;
}
#category{
    display: flex; 
    width: 80%;
    margin: auto;
}
#category img{
    width: 90%;
    margin: 10px;
    border: 2px solid red;
}
#bear{
    border: 2px solid grey;
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}
#bear img{
    width: 50%;
   
}
#court{
    display: flex;
    width: 80%;
    margin: auto;
}
#court>div img{
    width: 100%;
}
#court>div h3{
    font-size: 40px;
}
#chapal img{
    width: 100%;
}

#brand{
    display: flex;
     border: 2px solid salmon;
}
#brand img{
    width: 15%;
    margin-left: 5px;
    margin: auto;
}
#span{
    display:flex;
    width: 25%;
    justify-content: space-around;
}
#p{
    font-size: 40px;
}
#before_btm{
    display:flex;
    margin-top: 2%;
    
}
#before_btm>div{ 
    border-left: 1px solid gray;
}
#before_btm>div img{
    width: 10%;
}
#before_btm>div p{
    padding: 5px;
}
#hr{
    border: 3px solid rgba(19, 118, 218, 0.639);
}
#foot{
    background-color: #333f480e;
}
#footer>img{
  width: 2%;
}